body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b1522;
}

.heart{
    height: 90px;
    width: 90px;
    background: red;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -20px 20px 100px red;
    animation: heart 0.6s linear infinite;
}
@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart:before{
    content: '';
    position: absolute;
    height: 90px;
    width: 90px;
    background: red;
    top: -50%;
    border-radius: 50px;
    box-shadow: -20px -20px 100px red;
}

.heart:after{
    content: '';
    position: absolute;
    height: 90px;
    width: 90px;
    background: red;
    right: -50%;
    border-radius: 50px;
    box-shadow:  20px 20px 100px red;
}

h1{
    color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    vertical-align: bottom;
    bottom: 20px;
    right: 150px;
    font-style: oblique;
}